<div class="row">
  <div class="col-8 mx-auto">
    <%= render @article %>
  </div>
</div>

<div class="row justify-content-center">
  <%= link_to "[ Back to articles ]", articles_path, class: "text-center d-block text-info p-1" %>
</div>
